body{
    background: #303030;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px #292929;
}
h2{
  color: lightgrey;
}

p{
    font-family: verdana;
    color: lightgrey;
    font-size: 17px;
    text-align: left
}
.pfp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a:link {
    color: rgb(255, 255, 255);
  }
  a:visited {
    color: #30beab;
  }

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      margin: 100px auto;
      max-width: 2300px;
      overflow: hidden;
      background-color: #222222;
    }
    .topnav input[type="radio"]{
      display: none;
    }
    .topnav label {
      padding: 25px;
      background:#30be90;
      font-weight: bold;
      font-size: 30px;
    }
    .topnav label:hover{
      background-color:#00ffdd;
    }

    .topnav .tab1{
      width: 100%;
      padding: 15px;
      background: #222222;
      order: 1;
      display: none;
    }
    .topnav .tab1 h2 {
      font-size: 5em;
      text-align: center;
    }
    .topnav input[type="radio"]:checked + label + .tab1{
      display: block;
    }

    .grid-container {
      display: grid;
      grid-row-gap: 50px;
      grid-template-columns: auto auto;
      padding: 10px;
    }
    
    .grid-item {

      padding: 20px;

    }

    .footerclass {
      padding:40px 0;
      background-color:#222222;
      color:#30be90;
    }

    .footerclass ul {
      padding: 5px;
      text-align:center;
      font-size:30px;
      line-height: 3;
      margin-bottom: 40px;
    }
    
    .footerclass ul a {
      text-decoration:none;
    }
    
    .footerclass ul a:hover {
      opacity:1;
    }
    
